<ion-side-menus>
	<ion-side-menu-content>
		<ion-header-bar align-title="center" class="bar-calm">
			<button class="button icon button-clear ion-navicon" ng-click="toggle_left()"></button>
			<h1 class="title">{{title}}</h1>
			<button class="button" ng-click="select_location()">Location</button>
		</ion-header-bar>
	</ion-side-menu-content>
  	<!-- Left menu -->
  	<ion-side-menu side="left">
	  	<ion-list>
	  	  <ion-item>Hekjhjkhk</ion-item>
	  	</ion-list>
	  	<ion-list>
	  	  <ion-item>adsd</ion-item>
	  	</ion-list>
	  	<ion-list>
	  	  <ion-item>asdadasdasd</ion-item>
	  	</ion-list>
  	</ion-side-menu>
</ion-side-menus>
